span.divider {
    display: block;
    margin: 35px 0px;
    width: 150px;
    height: 2px;
    background-image: linear-gradient(
      to bottom,
      #00b5f8,
      #1fb9f9,
      #2fbdfa,
      #3cc1fa,
      #47c5fb
    );
  }
  