ul.social-icons > li > .item {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-color: #00b5f8;
  box-shadow: 0 3px 0 #0b6fe0;
}

ul.social-icons > li > .item > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  line-height: 40px;
  font-size: 25px;
  color: var(--white);
}
