:root {
    --padding-2: 2rem;

    --linear-gradient-brand: linear-gradient(to left, #008ef8, #007eff, #316aff, #5b51fe, #8025f4);

    --light-thema: #efefef;

    --primary-color: #008ef8;
    --black-contrast-color: #222324;
    --white-contrast-color: #F2F2F2;
}