:root {
    --padding-2: 2rem;
    --stack-2: 2rem;

    --linear-gradient-brand: linear-gradient(to left, #008ef8, #007eff, #316aff, #5b51fe, #8025f4);

    --light-thema: #efefef;

    --primary-color: #008ef8;
    --secundary-color: #8025f4;
    --black-contrast-color: #292f36;
    --white-contrast-color: #F2F2F2;

    --green-color-primary: #757575;

    --border-radius: .375rem;
}