/*-----------------------------------------------------------------------
/*  Description : Creative Resume Template
/*  Version     : 1.0.0
/*-----------------------------------------------------------------------
1. BANNER

2. CONTAINER STYLES & COMPONENTS
  2.0.
  2.1. CONTAINER - PROFILE
  2.3. CONTAINER - PROJECT
  2.4. CONTAINER - SERVICE
  2.5. CONTAINER - ACCOLADES
  2.6. CONTAINER - CONTACT
  2.7. CONTAINER - SKILL
  2.8. CONTAINER - CONTACT
-----------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*   2.1. CONTAINER - PROFILE
  /*---------------------------------------------------------------------*/
.container#profile {
  background-color: var(--dark);
}

.container#profile .profile-text {
  text-align: left;
}

.container#profile .container-preTitle {
  background-image: linear-gradient(
      to bottom,
      #00b5f8,
      #1fb9f9,
      #2fbdfa,
      #3cc1fa,
      #47c5fb
    );
  background-color: #3cc1fa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.container#profile .profile-text h2.container-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

.container#profile #description {
  width: 100%;
}

.container#profile .profile-text .divider {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 720px) {
  .container#profile #description {
    width: 700px;
  }

  .container#profile .profile-text {
    text-align: justify;
  }
}


/*---------------------------------------------------------------------*/
/*  2.2. CONTAINER - PROJECT
  /*---------------------------------------------------------------------*/

.container#project {
  padding: 2rem 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white);
  background-color: var(--dark-1);
}

.container#project h2.container-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  width: 100%;
  
}

@media (min-width: 720px) {
  .container#project h2.container-title {
    /*width: 700px;*/
  }
}

.container#project .divider {
  margin-right: auto;
  margin-left: auto;
  
}

.container#project .container-content-project {
  width: 100%;
}

.container#project .container-content-project .content-project div.projects {
  width: 100%;
  text-align: left;
}

.container#project .container-content-project .content-project .project {
  width: 100%;
  text-align: left;
 
}


@media (min-width: 720px) {
    
  .container#project .container-content-project .content-project .project {
    width: 80%;
    text-align: left;
  }
}


.container#project .container-content-project .project .row {
  display: flex;
  flex-wrap: wrap;
}

.container#project .container-content-project .content-project .project .content-project-title {
  margin-bottom: .75rem
  margin-left: .5rem;
}

.container#project .container-content-project .content-project .content-project-title h2.project-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
}

.container#project .container-content-project .content-project .card-project {
  width: 300px;
  height: 400px;
  margin-top: 10px;
  background-color: var(--secundary);
  border-radius: 10px;
}

@media (min-width: 720px) {
  .container#project .container-content-project .content-project .card-project {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
  }
}

.container#project .container-content-project .content-project .content-project-action {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.container#project .container-content-project .content-project .content-project-action a {
    display: inline-block;
    padding: 10px 16px 8px;
    transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
    cursor: pointer;
    color: #ff6433;
}


.container#project .container-content-project .content-project .content-project-action a:houver {
    padding: 10px 16px 8px;
    border-radius: 8px;
    background-color: rgba(255, 100, 51, 0.05);
}


.container#project .container-content-project .content-project .content-project-action a div {
    display: inline-block;
    margin-right: 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
}

.container#project .container-content-project .content-project .content-project-action a i {
   font-size: 20px;
   margin-top: 5px;
}


/*---------------------------------------------------------------------*/
/*  2.2. CONTAINER - SERVICE
  /*---------------------------------------------------------------------*/

.container#service {
  padding: 2rem 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white);
  border-radius: 10px;
}

.container#service h2.container-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.container#service .divider {
  margin-right: auto;
  margin-left: auto;
}

.container#service .card-service {
  width: 267px;
  margin-top: 10px;
  background-color: #313134;
  border-radius: 10px;
  text-align: left;
}

.container#service .card-body {
  display: flex;
  flex-direction: row;
}


.container#service .card-service .icon {
  font-size: 40px;
  color: #3cc1fa;
  margin-right: 7px;
}

@media (min-width: 720px) {
  .container#service .card-service {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
  }
}

.container#service .flexibility {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------------------------*/
/*  2.3. CONTAINER - METODH
  /*---------------------------------------------------------------------*/

.container#metodh h2.container-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.container#metodh .divider {
  margin-right: auto;
  margin-left: auto;
}

/*---------------------------------------------------------------------*/
/*  2.4. CONTAINER - ACOOLADES
/*---------------------------------------------------------------------*/
.container#accolades .bookmark {
  margin-top: 80px;
  font-size: 40px;
}

.container#accolades .bookmark .icon {
  width: 50px;
}

.container#accolades .divider {
  margin-right: auto;
  margin-left: auto;
}

/*---------------------------------------------------------------------*/
/*  2.5. CONTAINER - CONTACT
/*---------------------------------------------------------------------*/
.container#contact a {
  text-decoration: underline;
}

.container#contact .divider {
  margin-right: auto;
  margin-left: auto;
}

.container#contact .divider.divider-sm {
  width: 50px;
}

.container#contact .icon {
  width: 130px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/*---------------------------------------------------------------------*/
/*  FOOTER
/*---------------------------------------------------------------------*/
footer {
  background-color: var(--secundary);
  padding-top: 70px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 15px;
  border-radius: 10px 10px 0 0;
}

footer .page-scroll > a {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -94px;
  margin-left: -24px;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-color: #00b5f8;
  box-shadow: 0 3px 0 #0b6fe0;
  color: var(--white);
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}